NODE_ENV=development 

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

PORT=5001

DATABASE_URL=postgresql://postgres:12345@localhost:5434/health_care_db?schema=public

SALT_ROUND=10 

JWT_SECRET=asdfasdfasdf 

REFRESH_TOKEN_SECRET=asdfasdf

EXPIRES_IN=7d 

REFRESH_TOKEN_EXPIRES_IN=1y 

EMAIL=naeemul.online@gmail.com 

APP_PASS=iuvn ojkc 

RESET_PASS_LINK=http://localhost:3001/reset-password 

RESET_PASS_TOKEN=asdfasdf

RESET_PASS_TOKEN_EXPIRES_IN=5m 

CLOUDINARY_CLOUD_NAME=dsiey
CLOUDINARY_API_KEY=6273731
CLOUDINARY_API_SECRET=s0HJDs5kyaFxPSI


# CLOUDINARY_URL=cloudinary://627373185588158:s0HJDs5kyaFxPSIl_aL-_LKCgC4@dsieyc8m2


# stripe key
STRIPE_SECRET_KEY=WjyTNOEYIXKMc6606Fsecu9aullD006SmTO5Xp
STRIPE_WEBHOOK_SECRET=6a9006fe93c59b7f16d84c75

# opendriver key
OPENROUTER_API_KEY =sk-or-v1-e27ea4b0dd22cee015c518669f195833101811306f87b8f14f9a


FRONTEND_URL=http://localhost:3001



STRIPE_SUCCESS_URL = http://localhost:3001
STRIPE_CANCEL_URL = http://localhost:3001
